.row
  .col
    - flash.each do |type,message|
      .alert.alert-danger=message

.row
  .col-md-12
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link{href: "?tab=hours", class: @tab===:hours ? 'active' : ''}
          Tider
      %li.nav-item
        %a.nav-link{href: "?tab=info", class: @tab===:info ? 'active' : ''}
          Info

%h4.mt-3.mb-3.ml-2
  = @view.name

- if @tab === :hours
  = render partial: 'admin/preschools/show/hours'
- if @tab === :info
  = render partial: 'admin/preschools/show/info'
