
-# .flex.items-start
-#   %span.mr1= icon "double-quote-serif-left"#, :cite
-#   %span.cite
-#     = note_html(note)
-#   %span.ml1.self-end
-#     = icon "double-quote-serif-right"#, :cite


.flex.items-start.mt2
  %span.mr1= icon "double-quote-serif-left"#, :cite
  %span.cite
    = note_html(note)
    %span
      = icon "double-quote-serif-right"#, :cite

-# .clearfix.mt1
-#   .left.mr1
-#     = icon :bookmark
-#   .overflow-hidden
-#     %p.mb0= note_html(note)