%nav.col-md-2.bg-faded.sidebar
  %ul.nav.nav-pills.flex-column
    %li.nav-item
      %h4.ml-3
        Förskolor
    - Preschool.order(:name).each do |preschool|
      %li.nav-item
        %a.nav-link{href: admin_preschool_path(preschool), class: ('active' if params[:id].to_i == preschool.id)}
          = preschool.name
