%ul.nav-pills.sidebar-nav
  %li.nav-item
    %h4.ml-3.mt-3
      Förskolor
  - Preschool.order(:name).each do |preschool|
    %li.nav-item
      %a.nav-link{href: admin_preschool_path(preschool), class: ('active' if params[:id].to_i == preschool.id)}
        = preschool.name
        %div
          - preschool.site_changes.not_done.grouped_by_state.count.each do |state, count|

            %span.badge.pull-right.ml-1{class: "badge-#{state}"}
              = count

