.row
  .col
    %h1.mt-3.mb-3.text-center
      Öppna Förskolor Malmö

    %nav.nav
      %span.nav-link.active
        Sortering:

      = link_to_if_else_span @view.position?, href: root_path, class: 'nav-link' do
        %span.fa.fa-clock-o
        Öppettider

      = link_to_if_else_span !@view.position?, href: '#', id: 'toggle_position', class: 'nav-link' do
        %span.fa.fa-map-marker
        Avstånd

    #alert.alert.alert-warning{role: :alert, style: "display: none;"}
      Det gick inte att hämta din position.
      Prova igen!

    .row
      = render partial: 'home/index/preschool', collection: @view
