@import 'variables'

// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"
//@import "bootstrap/custom"

// Reset and dependencies
@import "bootstrap/normalize"
@import "bootstrap/print"

// Core CSS
@import "bootstrap/reboot"
@import "bootstrap/type"
//@import "bootstrap/images"
//@import "bootstrap/code"
@import "bootstrap/grid"
//@import "bootstrap/tables"
//@import "bootstrap/buttons"

// Components
@import "bootstrap/nav"
@import "bootstrap/card"
@import "bootstrap/alert"
@import "bootstrap/close"

// Utility classes
@import "bootstrap/utilities"
@import 'font-awesome'

html
  height: 100%

body
  min-height: 100%
  display: flex
  flex-direction: column

.container
  flex: 1

h4.card-header
  color: #fff

h4.card-header.bg-default
  color: #000

.nav-link
  padding: 0.5em

time
  font-style: italic

footer
  padding: 1rem 0
  margin-top: 2rem
  font-size: 85%
  text-align: center
  background-color: #f7f7f7
  padding: 4rem 0
  margin-top: 4rem

@include media-breakpoint-down(md)
  h1
    font-size: 24px
  h4
    font-size: 20px
  .nav-link i
    display: none

  footer p
    text-align: left

@include media-breakpoint-up(sm)
  footer
    text-align: left
