%meta{content: "width=device-width, initial-scale=1, user-scalable=no", name:  :viewport}/

%meta{charset: "UTF-8"}/
%meta{content: "Öppna förskolor i Malmö. Hitta öppettider och avstånd.", name: "description"}/
%meta{content: "index, follow", name: "robots"}/
%meta{content: "Jon Neverland", name: "author"}/
%meta{content: "#ffffff", name: "theme-color"}/
%meta{content: "Öppna förskolor Malmö", :property => "og:title"}/
%meta{content: "Öppna förskolor Malmö", :property => "og:site_name"}/
%meta{content: "https://oppenforskola.se/", :property => "og:url"}/
%meta{content: "Öppna förskolor i Malmö. Hitta öppettider och avstånd.", :property => "og:description"}/
%meta{content: "website", :property => "og:type"}/

%meta{content: "summary", name: "twitter:card"}/
%meta{content: "Öppna förskolor Malmö", name: "twitter:title"}/
%meta{content: "Öppna förskolor i Malmö. Hitta öppettider och avstånd.", name: "twitter:description"}/

%script{type: "application/ld+json"}
  = raw @view.map(&:to_json_ld).to_json
